* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    color: black;
    line-height: 1.6;
}
/*MENU*/
header{
    background-color: black;
    position:sticky;
    top: 0;
    z-index: 100;
}

.navbar{
    max-width: 100;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

.logo{
    color: white;
}

.menu{
    display: flex;
    gap: 25px;
    list-style: none;
}

.menu a{
    color: #dddddd;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover{
    color:aliceblue;
}

/*INICIO*/
.inicio{
    min-height: 85vh;
    display: flex;
    align-items: center;
    background-color: black;
    color: #dddddd;
}
.inicio-conteudo{
    width: 1100px;
    max-width: 90%;
    margin: auto;
}

.saudacao {
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 5px;
}

.inicio h1 {
    font-size: 60px;
    margin-bottom: 5px;
}

.inicio h2{
    font-size: 30px;
    color: antiquewhite;
    margin-bottom: 20px;
}

.inicio-conteudo > p{
    max-width: 600px;
}
.botao{
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;

    background-color: blue;

    text-decoration: none;

    border-radius: 6px;

    font-weight: bold;
}

.botao-hover {
    background-color: blue;
}

/* SEÇÕES */

.secao {
    max-width: 1100px;
    margin: auto;
    padding: 80px 20px;
}

.subtitulo-secao{
    text-align: center;
    color: aliceblue;
    margin-bottom: 40px;
}

/* sobre mim*/

.sobre-conteudo{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
}

.foto {
    width: 200px;
    height: 200px;
    min-width: 200px;
    border-radius: 50%;
    background-color: aliceblue;
    color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
}

.sobre-texto h3{
    font-size: 25px;
    margin-bottom: 15px;
}

sobre-texto p {
    margin-bottom: 15px;
}

/*seções com fundo diferente*/

.secao-destaque {
    max-width: 100%;
    background-color: #dddddd;
}

.secao-destaque > * {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/* HABILIDADES*/

.lista-habilidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

}

.habilidade{
    background-color: #dddddd;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
}

.habilidade:hover{
    transform: translateY(-3px);
}

/*PROJETOS*/
.projetos-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.projeto-card {
    background-color: #dddddd;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.10);
    transition: 0.3s;

}

.projeto-card:hover {
    transform: translateY(-5px);
    box-shadow:0 8px 20px rgba(0, 0, 0, 0.15);
}

.projeto-numero {
    font-size: 35px;
    font-weight: bold;
    color: blue;
    margin-bottom: 15px;
}