* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    color: black;
    line-height: 1.6;
}
/*MENU*/
header{
    background-color: black;
    position:sticky;
    top: 0;
    z-index: 100;
}

navbar{
    max-width: 100;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}