* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;

    
    background: linear-gradient(135deg, #000000, #1a1a1a, #333333);

    color: #ffffff;

    padding: 30px;
}

.card {
    width: 100%;
    max-width: 500px;

    padding: 30px;


    background: #ffffff;

    border-radius: 20px;

    
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);

    text-align: center;

    
    border-top: 6px solid #d71920;
}


h1 {
    margin-bottom: 25px;

    color: #000000;

    font-size: 36px;

    text-align: center;

    
    text-shadow: 2px 2px 0px #d71920;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form div {
    display: flex;
    flex-direction: column;
    text-align: left;
}


label {
    margin-bottom: 5px;

    font-size: 16px;
    font-weight: bold;

    color: #000000;
}


input {
    width: 100%;

    padding: 10px;

    border: 2px solid #000000;

    border-radius: 8px;

    font-size: 16px;

    outline: none;

    background-color: #f5f5f5;
    color: #000000;
}


input:focus {
    border-color: #d71920;

    box-shadow: 0 0 5px rgba(215, 25, 32, 0.5);
}


button {
    margin-top: 10px;

    padding: 12px;

    border: none;

    border-radius: 10px;

    
    background-color: #000000;

    color: white;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}


button:hover {
    background-color: #d71920;
}


.resultado {
    margin-top: 25px;

    padding: 20px;

    
    background-color: #f2f2f2;

    border-radius: 12px;

    border-left: 5px solid #d71920;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    color: #000000;
}


.resultado h2 {
    margin-bottom: 15px;

    color: #000000;

    font-size: 26px;
}


.resultado p {
    margin: 10px 0;

    font-size: 18px;

    color: #222222;
}

.aprovado {
    color: #013c94;
    font-weight: bold;
}


.recuperacao {
    color: #d98200;
    font-weight: bold;
}


.reprovado {
    color: #d71920;
    font-weight: bold;
}